.jumbotron{
    background-color: khaki;
    margin-top: 50px;
}

.btn{
    
    width: 100%;
    border-radius: 0;
    color: black;
    border-width: 0em;
    background-color:cornflowerblue;
    
}
.btn1{
    border-radius: 6px;
    padding: 6px 5px 6px 5px;
    border-width: 1px;
    color: green;
    border-color: green;
    
}

footer{
    background-color: khaki;
   /*margin-top: 10px;*/
}
.card-hotel{
    flex: 1 300px;
    
    margin-top: 10px;
}
.visitar{
    width: 100%;
}
.footer-addres-icon{
    padding-right: 3px;
}
.margen-top{
    margin-top: 5px;
 
}
.nav-item{
    padding-bottom:10px
}
img {
    
    height: 300px;
  }
